@inherits LayoutComponentBase

@if (isLoaded)
{
    <PageTitle>BlazorTipz</PageTitle>



    <AuthorizeView Roles="Admin">
        <div class="page">
            <main>
                <article class="content px-4">
                    <NavMenu />
                    @Body
                </article>
            </main>
        </div>
    </AuthorizeView>

    <AuthorizeView Roles="TeamLeader, User">
        <div class="page">
            <main>
                <article class="content px-4">
                    <NavMenu />
                    @Body
                </article>
            </main>
        </div>
    </AuthorizeView>
    <AuthorizeView>
        <NotAuthorized>
            <div class="page">
                <main>
                    <article class="content px-4">
                        <NavMenu />
                        @Body
                    </article>
                </main>
            </div>
        </NotAuthorized>
    </AuthorizeView>
} else {
    <link rel="stylesheet" href="css/Navbar.css" />
   <div class="center">
       <div class="spinner"></div>
   </div>
}


@code{
    bool isLoaded;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000); // TODO actual initialization job
        isLoaded = true;
    }
}