<!--Namespace-->
@page "/login"

<!--Accesses classes defined here-->
@using Microsoft.AspNetCore.Mvc
@using Radzen
@using BlazorTipz.ViewModels.User

<!--Injects from program-->
@inject ILocalStorageService _localStorage
@inject NavigationManager NavigationManager
@inject IUserManager _userM

<PageTitle>Login</PageTitle>

<h1 class="center">Logg på</h1>
<p class="d-flex justify-content-center">Fyll inn epost og passord</p>
<div class="justify-content-center">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <!--Wants type UserViewmodel, field object is userDto-->
            <RadzenTemplateForm TItem="UserViewmodel" Data=@userDto Submit=LoginUs>
                <div class="row mb-5">
                    <div class="col-md-4" style="align-self: center;">
                        <RadzenLabel Text="Bruker ID" />
                    </div>
                    <div class="col">
                        <!--Binder til userDto.emplymentId-->
                        <RadzenNumeric ShowUpDown="false" style="display: block" Name="id" 
                        @bind-Value=@userDto.employmentId Class="w-100">id</RadzenNumeric>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4" style="align-self: center;">
                        <RadzenLabel Text="Passord" />
                    </div>
                    <div class="col">
                        <!--Binder til userDto.password-->
                        <RadzenTextBox style="display: block" Name="password" @bind-Value=@userDto.password Class="w-100" type="password" />
                        <RadzenLengthValidator Component="password" Min="8" Text="Password name should be at least 8 characters" Popup=@popup Style="position: absolute" />
                    </div>
                </div>
                <div class="center">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Logg på"></RadzenButton>
                </div>
                <div class="center">
                    <a>@Checker</a>
                </div>
            </RadzenTemplateForm>
        </div>
    </div>
</div>
