<!--Injects from program-->
@page "/manageTeam"

<!--Accesses classes defined here-->
@using BlazorTipz.ViewModels
@using BlazorTipz.ViewModels.Team
@using BlazorTipz.ViewModels.User
@using Microsoft.AspNetCore.Mvc
@using Radzen

<!--Injects from program-->
@inject NavigationManager _navigationManager
@inject IUserManager _userManager
@inject ITeamManager _teamManager



<PageTitle>Manage Team</PageTitle>

<AuthorizeView Roles="Admin" Context="someContext">
    <Authorized>
        <h1 class="center">Fyll inn skjema</h1>
        <p class="d-flex justify-content-center">for å lage et nytt team!</p>
        <div class="justify-content-center">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <RadzenTemplateForm TItem="TeamViewmodel" Data=@teamDto Submit=RegisterTeam>
                        <div class="row mb-5">
                            <div class="col-md-4" style="align-self: center;">
                                <RadzenLabel Text="Team Navn" />
                            </div>
                            <div class="col">
                                <RadzenTextBox style="display: block" Name="team" @bind-Value=@teamDto.name Class="w-100" Placeholder="Navn"/>
                                <RadzenLengthValidator Component="team" Min="3" Text="Team name should be alteast 3 characters long" Popup=@popup Style="position: absolute"/>                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-4" style="align-self: center;">
                                <RadzenLabel Text="Velg Team Leder" />
                            </div>
                            <div class="col">
                                <RadzenDropDownDataGrid @bind-Value=@teamDto.leader FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                        AllowFiltering="false" AllowClear="true" Data=@people TextProperty="employmentId" Placeholder="ID" ValueProperty="employmentId" Class="w-100">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn Property="employmentId" Title="User ID" />
                                        <RadzenDropDownDataGridColumn Property="name" Title="Firstname" />
                                    </Columns>

                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                        <div class="center">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Send inn"></RadzenButton>
                        </div>
                    </RadzenTemplateForm>
                </div>
            </div>
        </div>
        <h1 class="center">Fyll inn skjema</h1>
        <p class="d-flex justify-content-center">for å legge til nytt team medlem! ps: to be optimized</p>
        <div class="justify-content-center">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <RadzenTemplateForm TItem="UserViewmodel" Data=@userDto Submit=AddTeamMember>
                        <div class="row mb-5">
                            <div class="col-md-4" style="align-self: center;">
                                <RadzenLabel Text="Team Navn" />
                            </div>
                            <div class="col">
                                <RadzenDropDownDataGrid @bind-Value=@userDto.teamId FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                        AllowFiltering="true" AllowClear="true" Data=@teams TextProperty="name" Placeholder="Team" ValueProperty="id" Class="w-100">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn Property="id" Title="Team ID" />
                                        <RadzenDropDownDataGridColumn Property="name" Title="Team Name" />
                                    </Columns>

                                </RadzenDropDownDataGrid>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-4" style="align-self: center;">
                                <RadzenLabel Text="Sett bruker ID" />
                            </div>
                            <div class="col">
                                <RadzenDropDownDataGrid @bind-Value=@userDto.employmentId FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                        AllowFiltering="false" AllowClear="true" Data=@people TextProperty="name" Placeholder="ID" ValueProperty="employmentId" Class="w-100">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn Property="employmentId" Title="User ID" />
                                        <RadzenDropDownDataGridColumn Property="name" Title="Name" />
                                    </Columns>

                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                        <div class="center">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Send inn"></RadzenButton>
                        </div>
                        <div class="center">
                            <h1>@Checker</h1>
                        </div>
                    </RadzenTemplateForm>
                </div>
            </div>
        </div>
        <h1 style="opacity:0;">:)</h1>
        <h1 style="opacity:0;">:)</h1>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="TeamLeader" Context="someContext">
    <Authorized>
        <h1 class="center">Fyll inn skjema</h1>
        <p class="d-flex justify-content-center">for å legge til nytt medlem i @team!</p>
        <div class="container my-4">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <RadzenTemplateForm TItem="UserViewmodel" Data=@userDto Submit=AddTeamMember>

                        <div class="row mb-5">
                            <div class="col-md-4" style="align-self: center;">
                                <RadzenLabel Text="Sett bruker ID" />
                            </div>
                            <div class="col">
                                <RadzenDropDownDataGrid @bind-Value=@userDto.employmentId FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                        AllowFiltering="false" AllowClear="true" Data=@people TextProperty="employmentId" Placeholder="ID" ValueProperty="employmentId" Class="w-100">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn Property="employmentId" Title="User ID" />
                                        <RadzenDropDownDataGridColumn Property="name" Title="Firstname" />
                                    </Columns>

                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                        <div class="center">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
                        </div>
                        <div class="center">
                            <h1>@Checker</h1>
                        </div>
                    </RadzenTemplateForm>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="User">
    <Authorized>
        <h1 class="center">You are not Authorized to view this page</h1>
    </Authorized>
</AuthorizeView>
