<!--Injects from program-->
@page "/manageTeam"

<!--Accesses classes defined here-->
@using BlazorTipz.ViewModels
@using BlazorTipz.ViewModels.Team
@using BlazorTipz.ViewModels.User
@using Microsoft.AspNetCore.Mvc
@using Radzen

<!--Injects from program-->
@inject ILocalStorageService _localStorage
@inject NavigationManager _navigationManager
@inject IUserManager _userManager
@inject ITeamManager _teamManager



<PageTitle>Manage Team</PageTitle>

<AuthorizeView Roles="Admin" Context="someContext">
    <Authorized>
		<div class="main-page-content">
			<h1 class="center">Fyll inn skjema</h1>
			<p class="d-flex justify-content-center">for å lage et nytt team!</p>
			<div class="justify-content-center">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<RadzenTemplateForm TItem="TeamViewmodel" Data=@TeamDto Submit=RegisterTeam>
							<div class="row mb-5">
								<div class="col-3" style="align-self: center;">
									<RadzenLabel Text="Team Navn" />
								</div>
								<div class="col-9">
									<RadzenTextBox style="display: block" MaxLength="255" Name="team" @bind-Value=@TeamDto.TeamName Class="w-100" Placeholder="Navn" />
									<RadzenLengthValidator Component="team" Min="3" Text="Team name should be alteast 3 characters long" Popup=@popup Style="position: absolute" />
								</div>
							</div>
							<div class="row mb-5">
								<div class="col-3" style="align-self: center;">
									<RadzenLabel Text="Velg Team Leder" />
								</div>
								<div class="col-9">
									<RadzenDropDownDataGrid @bind-Value=@TeamDto.TeamLeaderId FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
															AllowFiltering="false" AllowClear="true" Data=@ActiveUsers TextProperty="Name" Placeholder="Navn" ValueProperty="EmploymentId" Class="w-100">
										<Columns>
											<RadzenDropDownDataGridColumn Property="EmploymentId" Title="Bruker ID" />
											<RadzenDropDownDataGridColumn Property="Name" Title="Navn" />
										</Columns>

									</RadzenDropDownDataGrid>
								</div>
							</div>
							<div class="center">
								<RadzenButton Text="Reset" ButtonType="ButtonType.Reset" ButtonStyle="ButtonStyle.Light" />
								<RadzenButton Text="Send inn" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" />
							</div>
						</RadzenTemplateForm>
					</div>
				</div>
			</div>
			<h1 class="center">Fyll inn skjema</h1>
			<p class="d-flex justify-content-center">for å legge til nytt team medlem! ps: to be optimized</p>
			<div class="justify-content-center">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<RadzenTemplateForm TItem="UserViewmodel" Data=@UserDto Submit=AddTeamMember>
							<div class="row mb-5">
								<div class="col-3" style="align-self: center;">
									<RadzenLabel Text="Team Navn" />
								</div>
								<div class="col-9">
									<RadzenDropDownDataGrid @bind-Value=@UserDto.TeamId FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
															AllowFiltering="true" AllowClear="true" Data=@ActiveTeams TextProperty="TeamName" Placeholder="Team" ValueProperty="TeamId" Class="w-100">
										<Columns>
											<RadzenDropDownDataGridColumn Property="TeamId" Title="Team ID" />
											<RadzenDropDownDataGridColumn Property="TeamName" Title="Team Navn" />
										</Columns>

									</RadzenDropDownDataGrid>
								</div>
							</div>

							<div class="row mb-5">
								<div class="col-3" style="align-self: center;">
									<RadzenLabel Text="Sett bruker ID" />
								</div>
								<div class="col-9">
									<RadzenDropDownDataGrid @bind-Value=@UserDto.EmploymentId FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
															AllowFiltering="false" AllowClear="true" Data=@ActiveUsers TextProperty="Name" Placeholder="Navn" ValueProperty="EmploymentId" Class="w-100">
										<Columns>
											<RadzenDropDownDataGridColumn Property="EmploymentId" Title="Bruker ID" />
											<RadzenDropDownDataGridColumn Property="Name" Title="Navn" />
										</Columns>

									</RadzenDropDownDataGrid>
								</div>
							</div>
							<div class="center">
								<RadzenButton Text="Reset" ButtonType="ButtonType.Reset" ButtonStyle="ButtonStyle.Light" />
								<RadzenButton Text="Send inn" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" />
							</div>
							<div class="center">
								<h1>@Checker</h1>
							</div>
						</RadzenTemplateForm>
					</div>
				</div>
			</div>
        </div>

        
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="TeamLeader" Context="someContext">
    <Authorized>
		<div class="main-page-content">
			<h1 class="center">Fyll inn skjema</h1>
			<p class="d-flex justify-content-center">for å legge til nytt medlem i @CurrentTeam.TeamName!</p>
			<div class="container my-4">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<RadzenTemplateForm TItem="UserViewmodel" Data=@UserDto Submit=AddTeamMember>

							<div class="row mb-5">
								<div class="col-3" style="align-self: center;">
									<RadzenLabel Text="Sett bruker ID" />
								</div>
								<div class="col-9">
									<RadzenDropDownDataGrid @bind-Value=@UserDto.EmploymentId FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
															AllowFiltering="false" AllowClear="true" Data=@ActiveUsers TextProperty="Navn" Placeholder="Navn" ValueProperty="EmploymentId" Class="w-100">
										<Columns>
											<RadzenDropDownDataGridColumn Property="EmploymentId" Title="Bruker ID" />
											<RadzenDropDownDataGridColumn Property="Name" Title="Navn" />
										</Columns>

									</RadzenDropDownDataGrid>
								</div>
							</div>
							<div class="center">
								<RadzenButton Text="Reset" ButtonType="ButtonType.Reset" ButtonStyle="ButtonStyle.Light" />
								<RadzenButton Text="Submit" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" />
							</div>
							<div class="center">
								<h1>@Checker</h1>
							</div>
						</RadzenTemplateForm>
					</div>
				</div>
			</div>
		</div>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="User">
    <Authorized>
        <h1 class="center">You are not Authorized to view this page</h1>
    </Authorized>
</AuthorizeView>
