<!--Namespace-->
@page "/userSettings"

<!--Accesses classes defined here-->
@using BlazorTipz.Data
@using Microsoft.AspNetCore.Mvc
@using BlazorTipz.ViewModels.User

<!--Injects from program-->
@inject ILocalStorageService _localStorage
@inject NavigationManager NavigationManager
@inject IUserManager _userManager

<PageTitle>User Settings</PageTitle>

<h1 class="center">Endre innstillinger til bruker</h1>
<p class="d-flex justify-content-center">Endre fornavn og etternavn</p>
<div class="justify-content-center">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <RadzenTemplateForm TItem="UserViewmodel" Data=userDto Submit=ChangeSettings>
                <div class="row mb-5">
                    <div class="col-md-4" style="align-self: center;">
                        <RadzenLabel Text="Fullt navn" />
                    </div>
                    <div class="col">
                        <RadzenTextBox style="display: block" Name="name" @bind-Value=@userDto.name Class="w-100" />
                        <RadzenLengthValidator Component="name" Min="3" Text="Type a valid name" Popup=@popup Style="position: absolute" />
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4" style="align-self: center;">
                        <RadzenLabel Text="Passord" />
                    </div>
                    <div class="col">
                        <RadzenTextBox style="display: block" Name="password" @bind-Value=@userDto.password Class="w-100" type="password" />
                        <RadzenLengthValidator Component="password" Min="8" Text="Password name should be at least 8 characters" Popup=@popup Style="position: absolute" />
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4" style="align-self: center;">
                        <RadzenLabel Text="Gjenta passord" />
                    </div>
                    <div class="col">
                        <RadzenTextBox style="display: block" Name="RepeatPassword" @bind-Value=@userDto.RepeatPassword Class="w-100" type="password" />
                        <RadzenLengthValidator Component="RepeatPassword" Min="8" Text="Password name should be at least 8 characters" Popup=@popup Style="position: absolute" />
                        <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(userDto.RepeatPassword)) Value=@userDto.password Component="RepeatPassword" Text="Passwords should be the same" Popup=@popup Style="position: absolute" />
                    </div>
                </div>
                <div class="center">
                    <h1>@Checker</h1>
                </div>
                <div class="center">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Send inn"></RadzenButton>
                </div>
                <div class="center">
                    <RadzenButton Click="back" Text="Go back"></RadzenButton>
                </div>
            </RadzenTemplateForm>
        </div>
    </div>
</div>
<h1 style="opacity:0;">:)</h1>
<h1 style="opacity:0;">:)</h1>
<h1 style="opacity:0;">:)</h1>

