@page "/"
@using System.Diagnostics
@using BlazorTipz.Components
@inject ILocalStorageService _localStorage

<PageTitle>Index</PageTitle>

<h1 class="center">Hello, world!</h1>
<p class="d-flex justify-content-center">Welcome to your new app.</p>
<AuthorizeView Roles="Admin">
    <Authorized>
        <p class="d-flex justify-content-center">You are authorized as @context.User.Identity.Name</p>
    </Authorized>
</AuthorizeView>

@code {

}
