@page "/"
@using System.Diagnostics
@using BlazorTipz.Components
@inject ILocalStorageService _localStorage
@inject NavigationManager NavigationManager
@inject AuthenticationComponent _auth


    <PageTitle>Index</PageTitle>

    <h1 class="center">Hello, world!</h1>
    <p class="d-flex justify-content-center">Welcome to your new app.</p>
    <AuthorizeView>
        <Authorized>
            <p class="d-flex justify-content-center">You are authorized as @context.User.Identity.Name</p>

            <div class="center">
                <button class="btn btn-primary" @onclick="Logout"> Logout </button>
            </div>
        <div class="center">
            <button class="btn btn-primary" @onclick="Settings"> Settings </button>
        </div>
        </Authorized>
        <NotAuthorized>
            <div class="center">
                <button class="btn btn-primary" @onclick="NavigateToLogin"> Login </button>
            </div>
        </NotAuthorized>
    </AuthorizeView>



@code {
    private void NavigateToLogin() { NavigationManager.NavigateTo("login"); }
    private void Settings() { NavigationManager.NavigateTo("userSettings"); }
    public async Task Logout()
    {
        await _localStorage.RemoveItemAsync("token");
        NavigationManager.NavigateTo("/login", true);
    }
}
