@page "/"
@using System.Diagnostics
@using BlazorTipz.Components
@using BlazorTipz.Data
@inject ILocalStorageService _localStorage
@inject NavigationManager NavigationManager
@inject AuthenticationComponent _auth


    <PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1 class="center">Hello!</h1>
    <p class="d-flex justify-content-center">Welcome to Tipz!.</p>
        <p class="d-flex justify-content-center">You are part of team @context.User.Claims.SingleOrDefault(x => x.Type.Equals("unique_name")).Value</p>

        </Authorized>
        <NotAuthorized>
            <h1 class="center">Please login</h1>
            <div class="center">
                <button class="btn btn-primary" @onclick="NavigateToLogin"> Login </button>
            </div>
        </NotAuthorized>
    </AuthorizeView>



@code {

    User User = new User();
    List<User> people;
    
    private void NavigateToLogin() { NavigationManager.NavigateTo("login"); }
}
